.footer{
    background-color: #072138;
    color: white;
}
.footer li{
    list-style: none;
}
.footer a{
    color: rgb(226, 197, 217);
    font-weight: 500;
    font-size: 16px;
    margin-right: 15px;
    opacity: .8;

}
.footer a:hover{
   color: rgb(252, 255, 251);
   font-weight: 700;
   opacity: 1;
}
.icons{
    justify-content: center;

    margin: 5px;
    padding: 5px;
    background-color: rgb(12, 59, 90);
    border-radius: 5px;
    color: rgb(247, 242, 242);
    font-size: 30px;
}
.icons:hover{
    background-color: white;
    color:rgb(97, 11, 39)
}