.header-container{
    background-color: #1e405e;
    color: white;
}
.navs-link{
    color: rgb(237, 242, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.links-nav{
    color: rgb(211, 226, 240);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
opacity: .8;
}
.links-nav:hover{
    color: rgb(223, 174, 223);
    opacity: 1;
}
.display{
    color: aliceblue;
}